BasedOnStyle: Microsoft
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
NamespaceIndentation: All
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
IndentCaseLabels: true
AlignAfterOpenBracket: DontAlign
ReflowComments: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1